body {
    background-color: rgb(140, 18, 18);
}

hr{
    border: dashed;
}

h1 {
    text-align: center;
    color: black;
    border-radius: 25px;
}

h3 {
    font-size: 25px;
    font-family: monospace;
    color: black;
    text-align: center;
    border: groove;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
}

.shoryuken{
    font-size: 25px;
    font-family: monospace;
    color: black;
    text-align: center;
    border: groove;
    width: 299px;
    margin-left: auto;
    margin-right: auto;
}

.boy {
    font-size: large;
    font-family: verdana;
    
}

.ryu{
    font-size: 20px;
    color: black;
    font-family: verdana;
    text-align: center;
    border: groove;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#Halo{
    font-size: large;
    font-family: verdana;
}

#amiibo{
    font-size: large;
    font-family: verdana;
}